<html>
    <head>
        <title>PAT Registration</title>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="public/css/app.css">
        <script>
        $(document).ready(function(){
          $("#submitReg").click(function($event){
            $event.preventDefault();
            var $form = $("#regForm");
            var formData = getFormData($form);
            var postResourceUrl = "users";
            $.ajax({
                url: postResourceUrl,
                type: "POST",
                data: JSON.stringify(formData),
                contentType: "application/json"
            })
			.done(function(response)
			{
				$('#regForm').hide();
				$('#successMsg').show();
				$('#regId').html(response.id);
				
			})
		   .fail(function(errDto)
			{
				$('#regForm').hide();
				$('#failureMsg').show();
				console.log(JSON.stringify(errDto.responseJSON));
				$('#errorMessage').html(errDto.responseJSON.errorMessage)
			});
          });
        });

        function getFormData($form){
            var unIndexedArray = $form.serializeArray();
            var indexedArray = {};

            $.map(unIndexedArray, function(n, i){
                indexedArray[n['name']] = n['value'];
            });

            return indexedArray;
        }
        </script>
    </head>
    <body>
        #parse ("common/header.vm")
        <div class="bannerText">
            <h1>
                <span>Java Meetup Registration</span>
            </h1>
        </div>
		<div class="alert alert-success" id="successMsg" role="alert" style="display: none">
            <h4 class="alert-heading">Registration successful!</h4>
            <p>Registration id is <span id="regId"></span>. See you at the meetup!</p>
        </div>
        <div class="alert alert-danger" id="failureMsg" role="alert" style="display: none">
            <h4 class="alert-heading">Registration failed!</h4>
            <p><span id="errorMessage"></span> Click  <a href="/" class="alert-link">here</a> for registration page.</p>
        </div>		
        <form id="regForm" method="post" action="user.html" class="form-horizontal">
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label required">Name</label>
                <div class="col-sm-9">
                    <input type="text" required id="name" name="name" class="form-control"
                        pattern="^[^0-9]{0,}$" title="Numeric characters are not allowed"/>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label required">Password</label>
                <div class="col-sm-9">
                    <input type="password" required id="password" name="password" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="col-sm-3 control-label required">Address</label>
                <div class="col-sm-9">
                    <textarea id="address" required name="address" form="regForm" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label required">Email</label>
                <div class="col-sm-9">
                    <input type="email" required id="email" name="email" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label for="phoneNumber" class="col-sm-3 control-label">Phone Number</label>
                <div class="col-sm-9">
                    <input type="number" id="phoneNumber" name="phoneNumber" class="form-control"/>
                </div>
            </div>

            <p><input class="btn btn-default" type="submit" id="submitReg" value="Submit"></p>
            <div style="float:right">Red asterisk (<span style="color: red">*</span>)
                indicates mandatory field</div>
        </form>
        #parse ("common/footer.vm")
    </body>
</html>